<div style="margin-top: 15%; margin-bottom: 15%" *ngIf="!loginService.isLogged">
<section class="section-reservation bg1-pattern p-t-100 p-b-113">
<form class="wrap-form-reservation size22 m-l-r-auto" action="/user" method="post">
    <input type="text" placeholder="&#128272; Usuario" name="user">
    <input type="password" placeholder="&#128272; Contraseña" name="password">
    <input type="submit" (click)="logIn($event,user.vaue, pass.value)" value="Enviar">
    <a [routerLink]="['/register']" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
        Registrarse
    </a>
</form>
</section>
</div>
